fastapi==0.115.5
uvicorn[standard]==0.32.0
python-dotenv==1.0.1
python-multipart==0.0.9
pillow==10.4.0
numpy
google-cloud-aiplatform==1.73.0
opencv-python==4.10.0.84
pytesseract==0.3.10
importlib-metadata<5.0
torch==2.2.2
torchvision==0.17.2
easyocr==1.7.2
google-generativeai
